{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/indexstyle.css" rel="stylesheet">
    <title>gopps</title>
</head>
<body>
    <h1>Welcome to gopps</h1>
    <br>
    <p>Your main page here</p>
    <br>
    <a href="http://{{.Ip}}/admin">adminboard</a>
</body>
</html>
{{end}}